<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584771461488-iiudtrh90jcj2n7ok74j2ntutih12t3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584771461488-iiudtrh90jcj2n7ok74j2ntutih12t3u</string>
	<key>API_KEY</key>
	<string>AIzaSyCvYahOyaOsbWdS1r0OvL_rb1AEuEFY4RE</string>
	<key>GCM_SENDER_ID</key>
	<string>584771461488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>intro.SafZon</string>
	<key>PROJECT_ID</key>
	<string>geofence-733d9</string>
	<key>STORAGE_BUCKET</key>
	<string>geofence-733d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584771461488:ios:6b1a17ee8c20352f05afb5</string>
	<key>DATABASE_URL</key>
	<string>https://geofence-733d9-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>